;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Oct 13 18:00:08 2013
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/progs/Ruby/Rails/rails_projects/first_app/.gitignore"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/chris/first_app/.git/COMMIT_EDITMSG"
  "COMMIT_EDITMSG"
  'text-mode
  '(auto-fill-mode)
  91
  '(37 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/chris/first_app/README.md"
  "README.md"
  'text-mode
  '(auto-fill-mode)
  183
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/chris/progs/Ruby/Rails/rails_projects/first_app/.gitignore"
  ".gitignore"
  'text-mode
  '(auto-fill-mode)
  495
  '(456 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/chris/progs/Ruby/Rails/rails_projects/first_app/Gemfile"
  "Gemfile"
  'text-mode
  '(auto-fill-mode)
  567
  '(30 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

